/* NavBar.css */
.navbar {
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #26a7de;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.connect-button,
.disconnect-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-button {
  background-color: #26a7de;
  color: #fff;
  border: none;
}

.connect-button:hover {
  background-color: #1e89bc;
}

.disconnect-button {
  background-color: #f44336;
  color: #fff;
  border: none;
}

.disconnect-button:hover {
  background-color: #d32f2f;
}

.connected-wallet {
  display: flex;
  align-items: center;
}

.bone-balance {
  margin-left: 10px;
  font-weight: bold;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-container {
    width: 100%;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .connect-button,
  .disconnect-button {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
}