/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: #333;
}

/* Footer styles */
.footer {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1 1 300px;
  margin-bottom: 20px;
  text-align: left;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.backlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.backlinks-column {
  flex: 0 0 calc(50% - 10px);
  margin-bottom: 10px;
}

.backlinks-column a {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Added color for links */
  text-decoration: none; /* Removed underline for links */
  transition: color 0.3s ease; /* Added transition for hover effect */
}

.backlinks-column a:hover {
  color: #26a7de;
  text-decoration: underline;
}

.button-container {
  display: flex;
  gap: 10px;
}

.contact-info p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.contact-info p svg {
  margin-right: 5px;
  color: #26a7de;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart,
.fa-robot {
  font-size: 14px;
  margin: 0 3px;
  color: #26a7de;
}

.bone-price {
  font-weight: bold;
  font-size: 18px;
  cursor: default;
  color: #26a7de;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .contact-info p {
    justify-content: center;
  }
}